################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POO/POO/obj/Debug
